@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  background-color: #f4f4f4;
}

.text-red {
  color: #FB3640;
}
.hero {
  position: relative;
  height: 100%;
  width: 100%;
}
.hero-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-text {
  font-weight: 900;
}
@media (max-width: 992px) {
  .header-text {
    font-size: 48px;
  }
}
@media (max-width: 768px) {
  .header-text {
    font-size: 32px;
  }
}